@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1577089783885'); /* IE9 */
  src: url('iconfont.eot?t=1577089783885#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKQAAsAAAAABoQAAAJDAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBDIEaATYCJAMICwYABCAFhG0HMhvCBcgekiQBgAQRwDoDQBjx8DX2v3N396somkUTVLwEiKKZUDR0QmGYrlUzQ3z7P5c5QqGjTh3LU7ixQl/Ibzl9aYbk9JSakGO9RmD4EuUT905/C6NA5jvvcpxzURdgHEiB7oFRZMWdZ9wwdoFLuE+g3rC+wtnN/SOoK6xlgbgfeBbUcwFFYelaobpmbxEvValNj9InvAg/H3+tRy1JVWZVXbi54cL8p3ZWflB5cN0nBAnocBUyFoFCXKlNnFMSjFFSnygbB/sqD362KxXfJPaqF+yvs0obwSAU3JPQFd0qbwKFyawCG6O85Fbre67h4U198+N3EQ/fN7Q8eZvyNXvpw5mmjaYfru1Mdz2kr/eqmus0vW1C5DRn/Sy/Sp8Fgns3/q7l8B8NBXzpvf4PdUU/F7UncAY/SthzoOhiy5iKKqzNJKtKN9BWrx4V2NPuc6ym664yoVbXvblqDKXIak2SCm0RVRpsolqtE6i3YOtwgw6iJEod5r0ChFZvSJp9RNbqnVRoH6jS7R/VWiOj3rXoOLPBdNxpnhGylFy0LzFwODWOWZtR+QF5p7ElWXHIPCHJgzBOhuNieotSkjk25GfeVNWgEU5wEzxGccyYCYfk6NBXzWajkal70dDhBJrOEMSiiAvZLqGAg6WMP1o1S+8/QDynYhZp6avxnyAiF0yPJobGPUhbirRX3708kzvjmVLKQIZgCbQJZpFYjKGsflaIONSQPyKWmRnZw0xfxXB9VfJ1x6CepU1hV2e1tzj1UnL1AAA=') format('woff2'),
  url('iconfont.woff?t=1577089783885') format('woff'),
  url('iconfont.ttf?t=1577089783885') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1577089783885#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gongneng:before {
  content: "\e70c";
}

